<h1>マイページ</h1>

<h2>登録情報</h2>
<%= link_to "編集する", customers_information_edit_path, :class => "btn" %>

<h3>氏名</h3>
<%= @customer.last_name %>
<%= @customer.first_name %>
<h3>カナ</h3>
<%= @customer.last_name_kana %>
<%= @customer.first_name_kana %>
<h3>郵便番号</h3>
<%= @customer.postal_code %>
<h3>住所</h3>
<%= @customer.address %>
<h3>電話番号</h3>
<%= @customer.telephone_number %>
<h3>メールアドレス</h3>
<%= @customer.email %>

<h2>配送先</h2>
<%= link_to "一覧を見る", addresses_path, :class => "btn" %>

<h2>注文履歴</h2>
<%= link_to "一覧を見る", orders_path, :class => "btn" %>