<h3>商品編集</h3>
<%= form_with model: [:admin,@item] do |f| %>
<%= f.label :"商品画像" %>
<%= f.file_field :image, accept: "image/*" %>

<%= f.label :"商品名" %>
<%= f.text_field :name %>

<%= f.label :"商品説明" %>
<%= f.text_area :introduction %>

<%= f.label :"ジャンル" %>
<%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name) %>

<%= f.label :"税抜価格" %>
<%= f.text_field :price %>

<%= f.label :"販売ステータス" %>
<%= f.radio_button :is_active, "sale" %>
<%= f.label :is_active_sale, "販売中" %>
<%= f.radio_button :is_active, "sale_stop" %>
<%= f.label :is_active_sale_stop, "販売停止中" %>

<%= f.submit '変更を保存' %>
<% end %>