<%= form_with model: [:admin,@customer] do |f| %>
  <div>
    <%= @customer.full_name %>さんの会員情報編集
  </div>
  <%= f.label :"会員ID" %>
<%= f.text_field :id %>

<%= f.label :"氏名" %>
<%= f.text_field :full_name %>

<%= f.label :"フリガナ" %>
<%= f.text_field :full_name_kana %>

<%= f.label :"郵便番号" %>
<%= f.text_field :postal_code %>

<%= f.label :"住所" %>
<%= f.text_area :address %>

<%= f.label :"電話番号" %>
<%= f.text_field :telephone_number %>

<%= f.label :"メールアドレス" %>
<%= f.text_field :email %>


<%= f.label :"販売ステータス" %>
<%= f.radio_button :is_active, "valid" %>
<%= f.label :is_active_valid, "有効" %>
<%= f.radio_button :is_active, "withdrawal" %>
<%= f.label :is_active_sale_Withdrawal, "退会" %>

<%= f.submit '変更を保存' %>
<% end %>