<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-1"></div>
        <h3 class="m-4">注文履歴詳細</h3>
      </div>


      <table class="table table-borderless">
        <tr>
          <td class="col-2 pl-5">購入者</td>
          <td><%=link_to @order.customer.full_name, admin_customer_path(@order.customer.id) %></td>
        </tr>
        <tr>
          <td class="col-2 pl-5">注文日</td>
          <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <td class="col-2 pl-5">配送先</td>
          <td>
            〒<%= @order.postal_code + "　" + @order.address %><br>
            <%= @order.name %>
          </td>
        </tr>
        <tr>
          <td class="col-2 pl-5">支払方法</td>
          <td><%= @order.payment_method_i18n %></td>
        </tr>
        <tr>
          <td class="col-2 pl-5">注文ステータス</td>
          <td>
            <%= form_with model: @order, url: admin_order_path do |f| %>
            <%= f.select :status, Order.statuses_i18n.invert %>
            <%= f.submit "更新", class: "btn btn-success", :class => "ml-5 btn btn-success" %>
            <% end %>
          </td>
        </tr>
      </table>

      <div class="d-flex">
        <table class="table col-7 ml-5">
          <tr class="table-active">
            <td class="col-2">商品名</td>
            <td class="col-1">単価(税込)</td>
            <td class="col-1">数量</td>
            <td class="col-1">小計</td>
            <td class="col-2">制作ステータス</td>
          </tr>
          <% @sum = 0 %>
          <% @order_details.each do |order_detail| %>
          <% @sum += order_detail.item.with_tax_price * order_detail.amount %>
            <tr>
              <td><%= order_detail.item.name %></td>
              <td><%= order_detail.item.with_tax_price %></td>
              <td><%= order_detail.amount %></td>
              <td><%= order_detail.amount * order_detail.item.with_tax_price %></td>
              <td>
                <%= form_with model: order_detail, url: admin_order_detail_path(order_detail) do |f| %>
                <%= f.select :making_status, OrderDetail.making_statuses_i18n.invert %>
                <%= f.submit "更新", class: "btn btn-success" %>
                <% end %>
           　  </td>
            </tr>
          <% end %>
        </table>

        <div class="col-1">　</div>

        <table class="table table-borderless col-2">
          <tr>
            <td>商品合計</td>
            <td><%= @sum %>円</td>
          </tr>
          <tr>
            <td>送料</td>
            <td>800円</td>
          </tr>
          <tr>
            <td>請求金額合計</td>
            <td><%= @sum + 800 %>円</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>