<div class="container-fluid">
  <div class="row">
    <div class="col-1"></div>
    <h3 class="mt-4 mb-4">配送先編集</h3>
  </div>
  <%= form_with model: @address do |f| %>
    <div class="row">
      <div class="col-2 ml-5 mb-3">
        <%= f.label :"郵便番号(ハイフンなし）" %>
      </div>
      <%= f.text_field :postal_code, :class => "mb-3" %>
    </div>
    <div class="row">
      <div class="col-2 ml-5 mb-3">
        <%= f.label :"住所" %>
      </div>
      <%= f.text_field :address, :class => "mb-3 col-4"  %>
    </div>
    <div class="row">
      <div class="col-2 ml-5" >
        <%= f.label :"宛名" %>
      </div>
      <%= f.text_field :name %>
      <div class="col-3"></div>
      <%= f.submit "変更を保存する", :class => "btn btn-success" %>
    </div>
  <% end %>
</div>