<%= form_with model: @customer, url: customer_registration_path do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>
  <div class="container">
    <h2 class="ml-5 mt-4">新規会員登録</h2>
    <div class="row">
      <div class="col-md-3 pt-5">
        <th>名前</th>
      </div>
      <div class="col-md-9 pt-5">
        <div class="d-flex">
          <td>
            <div class="field">
              <%= f.label :（姓） %>
              <%= f.text_field :last_name %>
            </div>
          </td>
          <td>
            <div class="field">
              <%= f.label :（名） %>
              <%= f.text_field :first_name %>
            </div>
          </td>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 pt-2">
        <th>フリガナ</th>
      </div>
      <div class="col-md-9 pt-2">
        <div class="d-flex">
          <td>
            <div class="field">
              <%= f.label :（セイ） %>
              <%= f.text_field :last_name_kana %>
            </div>
          </td>
          <td>
            <div class="field">
              <%= f.label :（メイ） %>
              <%= f.text_field :first_name_kana %>
            </div>
          </td>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 pt-2">
        <th>
          <%= f.label :メールアドレス %>
        </th>
      </div>
      <div class="col-md-9 pl-5 pt-2">
        <td colspan="2">
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </td>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 pt-2">
        <th>
          <%= f.label :郵便番号（ハイフンなし） %>
        </th>
      </div>
      <div class="col-md-9 pl-5 pt-2">
        <td>
          <%= f.text_field :postal_code %>
        </td>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 pt-2">
        <th>
          <%= f.label :住所 %>
        </th>
      </div>
      <div class="col-md-9 pl-5 pt-2">
        <th>
          <%= f.text_field :address %>
        </th>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 pt-2">
        <th>
          <%= f.label :電話番号（ハイフンなし） %>
        </th>
      </div>
      <div class="col-md-9 pl-5 pt-2">
        <td>
          <%= f.text_field :telephone_number %>
        </td>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 pt-2">
        <th>
          <%= f.label :パスワード（６文字以上） %>
          <% if @minimum_password_length %>
          <em><%= @minimum_password_length %></em>
          <% end %><br />
        </th>
      </div>
      <div class="col-md-9 pl-5 pt-2">
        <td>
          <%= f.password_field :password, autocomplete: "new-password" %>
        </td>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 pt-2">
        <th>
          <%= f.label :パスワード（確認用） %>
        </th>
      </div>
      <div class="col-md-9 pl-5 pt-2">
        <td>
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </td>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3"></div>
        <div class="actions col-9 pl-5 pt-2">
          <%= f.submit "新規登録", :class => "btn btn-success" %>
        </div>
    </div>
    <h5>既に登録済みの方</h5>
    <div class="pl-5">
      <%= render "public/shared/links" %>
    </div>
<% end %>



