<div class="container">
  <h4 class="mt-5">注文情報確認</h4>
  <div class="row">
    <table class="table table-bordered col-7">
      <tr class="table-active">
        <td>商品名</td>
        <td>単価(税込)</td>
        <td>数量</td>
        <td>小計</td>
      </tr>
      <% total = 0 %>
      <% @cart_items.each do |cart_item| %>
        <tr>
          <td>
            <%= image_tag cart_item.item.image, size: "100x80" %>
            <strong><%= cart_item.item.name %></strong>
          </td>
          <td><%= (cart_item.item.price*1.1).to_i %></td>
          <td><%= cart_item.amount %></td>
          <td>
            <% subtotal = ((cart_item.item.price*cart_item.amount)*1.1).to_i %>
            <%= subtotal %>
          </td>
        </tr>
        <% total += (cart_item.item.price*cart_item.amount)*1.1 %>
      <% end %>

    </table>
    <div class="col-1"></div>

    <table class="table table-bordered col-4">
      <tr>
       <th class="table-active">送料</th>
        <% @order.shipping_cost = 800 %>
       <td><%= @order.shipping_cost %></td>
      </tr>
      <tr>
       <th class="table-active">商品合計</th>
       <td><%= total.to_i %></td>
      </tr>
      <tr>
        <th class="table-active">請求金額</th>
        <% @order.total_payment = @order.shipping_cost + total.to_i %>
        <td><%= @order.total_payment %></td>
      </tr>
    </table>
  </div>


  <div class="row">
    <h4 class="mt-3">支払い方法</h4>
    <h5 class="ml-3 mt-3"><%= @order.payment_method_i18n %></h5>
  </div>
  <div class="row">
    <h4 class="mt-5">お届け先</h4>
    <h5 class="ml-5 mt-5">
      <%= @order.postal_code %>
      <%= @order.address %><br>
      <%= @order.name %>
    </h5>
  </div>

  <%= form_with model: @order, url: orders_path, method: :post, local: true do |f| %>
    <%= f.hidden_field :shipping_cost %>
    <%= f.hidden_field :total_payment %>
    <%= f.hidden_field :payment_method %>
    <%= f.hidden_field :name, value: @order.name %>
    <%= f.hidden_field :address, value: @order.address %>
    <%= f.hidden_field :postal_code, value: @order.postal_code %>
    <%= f.hidden_field :status %>
    <div class="row">
      <%= f.submit "注文を確定する", class: "btn btn-success m-auto" %>
    </div>
 <% end %>
</div>
