<h3>注文履歴一覧</h3>
<table class="table">
  <tr>
    <td>注文日</td>
    <td>配送先</td>
    <td>注文商品</td>
    <td>支払金額</td>
    <td>注文詳細</td>
  </tr>
  <% @order_detail.each do |cart_item| %>
    <tr>
      <td>
        <%= image_tag cart_item.item.image, size: "100x80" %>
        <strong><%= cart_item.item.name %></strong>
      </td>
      <td><%= (cart_item.item.price*1.1).to_i %></td>
      <td><%= cart_item.amount %></td>
      <td>
        <% subtotal = ((cart_item.item.price*cart_item.amount)*1.1).to_i %>
        <%= subtotal %>
      </td>
    </tr>
    <% total += (cart_item.item.price*cart_item.amount)*1.1 %>
  <% end %>