<div class="container-fluid">
  <div class="row">
    <div class="col-1"></div>
    <h3 class="mt-4 mb-4">注文履歴一覧</h3>
  </div>
  <table class="able table-bordered col-11 m-auto">
    <tr class="table-active">
      <td class="col-1">注文日</td>
      <td class="col-3">配送先</td>
      <td class="col-1">注文商品</td>
      <td class="col-1">支払金額</td>
      <td class="col-1">ステータス</td>
      <td class="col-1">注文詳細</td>
    </tr>
    <% @orders.each do |order| %>
      <tr>
        <td><%=  l order.created_at, format: :short %></td>
        <td>
          <%= order.postal_code %><br>
          <%= order.address %><br>
          <%= order.customer.full_name %>
        </td>
        <td>
          <% order.order_details.each do |order_detail| %>
           <div><%= order_detail.item.name %></div>
            <% @total += ((order_detail.total_amount) * 1.1).round %>
          <% end %>
        </td>
        <td><%= @total + 800 %>円</td>
        <td><%= order.status_i18n %></td>
        <td><%= link_to "表示する", order_path(order.id), :class => "btn btn-primary ml-5" %></td>
      </tr>
    <% end %>
  </table>
</div>