<div class="container-fluid">
  <div class="row">
    <div class="col-1"></div>
    <h4 class="pt-5">注文情報入力</h4>
  </div>
  <h4 class="ml-5">支払方法</h4>
  <%= form_with model: @order, url: "/orders/confirm", method: :post, local: true do |f| %>
    <div class="row">
      <div class="col-1"></div>
      <div>
        <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
        <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card], :class => "col-11" %>
        <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
        <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer], :class => "col-11" %>
      </div>
    </div>
    <h4 class="ml-5">お届け先</h4>
    <div class="row">
      <div class="col-1"></div>
        <%= f.radio_button :select_address, 0, checked: true %>
        <%= f.label :address_type, "ご自身の住所", :class => "pl-3" %>
    </div>
    <div class="row">
      <div class="col-1 mr-5"></div>
       〒<%= current_customer.postal_code + "　" + current_customer.address %><br>
      <%=  current_customer.last_name + current_customer.first_name %>
    </div>
    <div class="row">
      <div class="col-1"></div>
      <%= f.radio_button :select_address, 1 %>
      <%= f.label :address_type,"登録済住所から選択", :class => "pl-3" %>
    </div>
    <div class="row">
      <div class="col-1 mr-5"></div>
      <%= f.select :address_id, options_from_collection_for_select(current_customer.addresses.all, :id, :address_display) %>
    </div>
    <div class="row">
      <div class="col-1"></div>
      <%= f.radio_button :select_address, 2 %>
      <%= f.label :address_type, "新しいお届け先" %>
    </div>
    <div class="row">
      <div class="col-1 mr-5"></div>
      <%= f.label :postal_code, "郵便番号（ハイフンなし）",class: "col-2 mt-2" %>
      <%= f.text_field :postal_code,class: "col-2 mt-2" %>
    </div>
    <div class="row">
      <div class="col-1 mr-5"></div>
      <%= f.label :address, "住所",class: "col-2 mt-2" %>
      <%= f.text_field :address,class: "col-4 mt-2" %>
    </div>
    <div class="row">
      <div class="col-1 mr-5"></div>
      <%= f.label :name, "宛名",class: "col-2 mt-2" %>
      <%= f.text_field :name,class: "col-2 mt-2 mb-3" %>
    </div>
    <div class="row">
      <%= f.submit "確認画面へ進む",class: "btn btn-primary text-center m-auto" %>
    </div>
  <% end %>
</div>
