<div class="container-fluid">
  <div class="row">
    <div class="col-1"></div>
    <h3 class="mt-4 mb-4">注文履歴詳細</h3>
  </div>
  <div class="d-flex">
    <div class="container">
      <table class="table table-bordered" >
        <strong>注文情報</strong>
        <tr>
          <td class="table-active col-1">注文日</td>
          <td class="col-4"><%=  l  @order.created_at, format: :short %></td>
        </tr>
        <tr>
          <td class="table-active">配送先</td>
          <td>
            〒<%= @order.postal_code %><br>
            <%= @order.address %><br>
            <%= @order.name %>
          </td>
        </tr>
        <tr>
          <td class="table-active">支払方法</td>
          <td><%= @order.payment_method_i18n %></td>
        </tr>
        <tr>
          <td class="table-active">ステータス</td>
          <td><%= @order.status_i18n %></td>
        </tr>
      </table>
    </div>
    <div class="container">
      <table class="table table-bordered col-5" >
        <strong>請求情報</strong>
        <tr>
          <% @order_details.each do |order_detail| %>
          <% @total += ((order_detail.total_amount) * 1.1).round %>
          <% end %>
          <td class="table-active col-2">商品合計</td>
          <td class="col-1"><%= @total %></td>
        </tr>
        <tr>
          <td class="table-active">配送料</td>
          <td>800</td>
        </tr>
        <tr>
          <td class="table-active">ご請求額</td>
          <td><%= @total + 800 %></td>
        </tr>
      </table>
    </div>
  </div>
  <table class="table table-bordered col-8 ml-3">
    <strong class="ml-3">注文内容</strong>
    <tr>
      <td class="table-active col-4">商品</td>
      <td class="table-active col-2">単価（税込）</td>
      <td class="table-active col-1">個数</td>
      <td class="table-active col-1">小計</td>
    </tr>
    <% @order_details.each do |order_detail| %>
    <tr>
      <td><%= order_detail.item.name %></td>
      <td><%= ((order_detail.item.price) * 1.1).round %></td>
      <td><%= order_detail.amount %></td>
      <td><%= (((order_detail.item.price) * 1.1) * order_detail.amount).round %></td>
    </tr>
    <% end %>
  </table>
</div>