<% if @item.image.attached? %>
        <%= image_tag @item.image, size: "200x200" %>
      <% else %>
         <%= image_tag 'no_image', size: "200x200" %>
      <% end %>
      <h4>商品名</h4>
<%= @item.name %>

<h4>商品説明</h4>
<%= @item.introduction %>
￥<%= (@item.price * 1.1).round %>（税込）

<%= form_with(model: @cart_item,url: cart_items_path, method: :post,local: true)do |f| %>
  <%= f.label :amount, "個数選択" %>
  <%= f.select :amount, [1,2,3,4,5,6,7,8,9,10] %>
  <%= f.hidden_field :item_id, :value => @item.id %>
  <%= f.submit "カートに入れる" %>
<% end %>%>
