<!DOCTYPE html>
<html>
  <head>
    <title>WorkGithub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="shadow-sm">

        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container-fluid">
            <h1 class="pt-3 pl-3"><%= link_to "LOGO", root_path %></h1>
            <ul class="navbar-nav ml-auto">
              <% if customer_signed_in? %>
                <div class="mr-5">ようこそ、<%=current_customer.last_name %>さん!</div>
                <li class="nav-item mr-5">
                  <%= link_to "マイページ", customers_my_page_path %>
                </li>
                <li class="nav-item mr-5">
                  <%= link_to "商品一覧", items_path %>
                </li>
                <li class="nav-item mr-5">
                  <%= link_to "カート", cart_items_path %>
                </li>
                <li class="nav-item mr-3">
                  <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
                </li>
              <% elsif admin_signed_in? %>
                <li class="nav-item mr-5">
                  <%= link_to "商品一覧", admin_items_path %>
                </li>
                <li class="nav-item mr-5">
                  <%= link_to "会員一覧", admin_customers_path %>
                </li>
                <li class="nav-item mr-5">
                  <%= link_to "注文履歴一覧", admin_path %>
                </li>
                <li class="nav-item mr-5">
                  <%= link_to "ジャンル一覧", admin_genres_path %>
                </li>
                <li class="nav-item mr-3">
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
                </li>
              <% else %>
                <li class="nav-item mr-5">
                  <%= link_to "About",  about_path %>
                </li>
                <li class="nav-item mr-5">
                  <%= link_to "商品一覧", items_path %>
                </li>
                <li class="nav-item mr-5">
                  <%= link_to "新規登録", new_customer_registration_path %>
                </li>
                <li class="nav-item mr-3">
                  <%= link_to "ログイン", new_customer_session_path %>
                </li>
              <% end %>
            </ul>
          </div>
        </nav>
      <div class="text-right mr-5">
        <%= form_with url: search_path, local: true, method: :get do |f| %>
          <%= f.text_field :word, placeholder: "Search" %>
          <%= f.submit "検索", class: "btn-sm btn-primary" %>
        <% end %>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
